logs
plugins
node_modules
package-lock.json
README.md
LICENSE
Lavalink.jar
.git
.vscode
npm-debug.log
.editorconfig
application.example.yaml
.env
.env.example
.gitignore
.prettierignore
.prettierrc
bots.example.json
bots.json
compose.yaml
Dockerfile
ecosystem.config.js
Lavalink.jar